{% extends "bccQuizzBundle::layout.html.twig" %}
 
{% block title %}
  Ajouter une question - {{ parent() }}
{% endblock %}
 
{% block bccQuizz_body %}
 
  <h2>Ajouter une question</h2>
 
  {% include "bccQuizzBundle:Quizz:formulaire.html.twig" %}
 
  <p>
    Vous ajouter une question.
  </p>
 
  <p>
    <a href="{{ path('bcc_quizz_see', {'id': question.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à liste de questions
    </a>
  </p>
 
{% endblock %}