{% extends "bccQuizzBundle::layout.html.twig" %}
 
{% block title %}
  Modifier une question - {{ parent() }}
{% endblock %}
 
{% block bccQuizz_body %}
 
  <h2>Modifier une question</h2>
 
  {% include "bccQuizzBundle:Quizz:formulaire.html.twig" %}
 
  <p>
    Vous éditez une question déjà existante,
    ne le changez pas trop pour éviter
    aux membres de ne pas comprendre
    ce qu'il se passe.
  </p>
 
  <p>
    <a href="{{ path('bcc_quizz_see', {'id': question.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à liste de questions
    </a>
  </p>
 
{% endblock %}